.cookies-container
    h3
        | this website uses cookies to give users the best experience.
        a(href='/cookies-about') learn more
    .button-holder
        button#cookies-no.noire-btn(type='button')
            | Decline
        button#cookies-yes.noire-btn(type='button')
            | Accept
