.payment-item
  .payment-row-0
    img.payment-img(src='/Images/Card Placeholder/card-4.png' alt='' srcset='')
    .card-info
      h2 Bing Bonf-Kang
      h2 ************5132
      h2 11/31
  h2.edit-delete
    span#edit-card(data-info='2') edit
    |  |
    span#delete-card(data-info='2') delete
