doctype html
html 
  head
    block head
      link(rel='shortcut icon' href='/Images/Logos/logo.png' type='image/x-icon')
      link(rel='shortcut icon' href='/Images/Logos/logo.png' type='image/x-icon')
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title Noire
      link(rel='stylesheet' href='style.css')
      // <script src="/script.js" defer></script>
      script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')
      script(src='/controllers/bannerController.js' type='module')
      script(src='/controllers/register-login-Controller.js' type='module')
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
      // bs5
      link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous')
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa' crossorigin='anonymous' defer='')
      link(rel="stylesheet", href="/loading-bar.css")
      script(src="/loading-bar.js")
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  //- // sign in form/pop=up
  body
    div(id='login-pop up')
      // Button trigger modal
      button#login-activate.btn.btn-primary.hidden(type='button' data-bs-toggle='modal' data-bs-target='#login-label')
        | login
      // Modal
      #login-label.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='login-labelLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              button#modal-close.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            // pop up container modals
            #for-login.modal-body.login-container
              h1 sign in
              h3(style='color: var(--primary-color-lighter)')
                | makes for a personalized shopping experience
              form#login-form.login-signup(action='')
                input#login-username.login(type='text' name='login-username' data-login='username' placeholder='USERNAME' required='')
                input#login-password.login(type='password' name='login-password' data-login='password' placeholder='PASSWORD' required='')
                h3#login-error-message.hidden(style='color: red; font-size: 18px')
                  | We do not recognize your sign-in information. Please try again
                #lower-row-form
                  div
                    input#stay-logged-in(type='checkbox' name='stay-logged-in')
                    label(for='stay-logged-in') stay logged in
                  h6#forgot-password-btn Forgot password?
                button#login-submit-btn.noire-btn(type='submit')
                  | LOGIN
              #register-footer
                h1 create an account
                h3(style='color: var(--primary-color-lighter)')
                  | register with noire to enjoy a personalized experience
                button#switch-register.noire-btn(type='button')
                  | REGISTER
            #for-register.modal-body.login-container.hidden
              h1 register
              h3(style='color: var(--primary-color-lighter)')
                | register with noire to enjoy a personalized experience
              form#register-form.login-signup(action='')
                h3#register-email-error.error-text.hidden
                  | email already registered or invalid
                input#register-email.register(type='email' name='register-email' data-register='email' placeholder='EMAIL' required='')
                h3#register-username-error.error-text.hidden
                  | username is already registered or invalid 
                  br
                  | username must
                  |                   be between 8-32 characters
                input#register-username.register(type='text' name='register-username' data-register='username' placeholder='USERNAME' required='')
                input#register-password.register(type='password' name='register-password' data-register='password' placeholder='PASSWORD' required='')
                h3#register-password-error.hidden
                  ul
                    li.error-text
                      | password must Be Between 8-32 Characters
                    li.error-text
                      | must include atleast one number , special character and
                      | capital letter
                    // <li class="error-text">h</li>
                button#register-submit-btn.noire-btn(type='submit')
                  | REGISTER
                h3(style='\
                color: var(--primary-color-lighter);\
                font-size: 16px;\
                margin-top: 12px;\
                ')
                  | view our 
                  a(href='/privacy-policy')  privacy policy
                  |  &amp;
                  a(href='/terms-and-conditions')  terms and conditions
            #for-reset.modal-body.login-container.hidden
              h1 Reset Password
              h3#reset-title(style='color: var(--primary-color-lighter)')
                | enter username
              form#reset-form.login-signup(action='')
                input#reset-username.reset(type='text' name='reset-username' data-reset='username' placeholder='USERNAME')
                h3#reset-error-user.hidden(style='color: red; font-size: 18px')
                  | We do not recognize username. Please try again
                button#reset-submit.noire-btn(type='submit')
                  | RESET
              form#reset-password-form.login-signup.hidden(action='')
                input#reset-passsword-1.reset(type='password' name='reset-passsword-1' data-reset='passsword-1' placeholder='ENTER NEW PASSWORD' style='text-transform: none')
                input#reset-passsword-2.reset(type='password' name='reset-passsword-2' data-reset='passsword-2' placeholder='CONFIRM PASSWORD' style='text-transform: none')
                button#reset-password-submit.noire-btn(type='submit')
                  | RESET
            #for-forgot-success.modal-body.login-container.hidden
              h1 Reset Password
              h1(style='\
              color: var(--secondary-color);\
              top: 48px;\
              position: relative;\
              ')
                | if and account exist for this username a reset link will be sent
                | in 2-3 minutes
    // banner
    include _banner
    // special pop-up
    #special-pop-up.hidden(data-deny='true')
      a(href='/products/new/special.html')
        img#special-image(src='/Images/Home/Banner Images/special.jpg' alt='')
      button#special-close.noire-btn(type='button')
        | Not Interested
    // keep content class
    .content
      // home cotnent
      block bodyContent
      // cookies container
      if user.collectCookies== undefined
        include _cookiesBanner
      // footer
      include _footer