extends base

block bodyContent
    .profile-container#orders
        .container-tabs#tabs-orders
            h2
                a.tabs(href='/account/profile') My Account
            h2
                a.tabs.active-tab(href='/account/orders') orders &amp; returns
            h2
                a.tabs(href='/account/payment-info') payment info
            h2
                a.tabs(href='/account/shipping-info') shipping info
            h2
                a.tabs(href='/account/wishlist') wishlist
            h2
                a.tabs(href='/account/email-preferences') email preferences
            h2
                a.tabs(href='/account/reset-password') password
        .orders-container
            .order
                .order-data
                    h2
                        | $
                        span 147.56$
                    #right-side
                        h2
                            | Order Number: 
                            span#order-number NRE001-885221547
                        h3#order-date September 1st,2022
                .item-data
                    .item-card
                        img#item-image(src='/Images/Models/Filler/filler-bras-2.jpeg' alt='')
                    .middle-data
                        h2#image-title Cotton Essential Cheeky
                        h2#status Preparing for shipment
                        h2(style='font-size: 12px')
                            | quantity: 
                            span#quantity 3
                    .total-data
                        h2
                            | $
                            span#item-total 37.82
                .item-data
                    .item-card
                        img#item-image(src='/Images/Models/Filler/filler-bras-2.jpeg' alt='')
                    .middle-data
                        h2#image-title Cotton Essential Cheeky
                        h2#status Preparing for shipment
                        h2(style='font-size: 12px')
                            | quantity: 
                            span#quantity 3
                    .total-data
                        h2
                            | $
                            span#item-total 37.82
            .order
                .order-data
                    h2
                        | $
                        span 147.56$
                    #right-side
                        h2
                            | Order Number: 
                            span#order-number NRE001-885221547
                        h3#order-date September 1st,2022
                .item-data
                    .item-card
                        img#item-image(src='/Images/Models/Filler/filler-bras-1.jpeg' alt='')
                    .middle-data
                        h2#image-title Cotton Essential Cheeky
                        h2#status Preparing for shipment
                        h2(style='font-size: 12px')
                            | quantity: 
                            span#quantity 3
                    .total-data
                        h2
                            | $
                            span#item-total 37.82
                .item-data
                    .item-card
                        img#item-image(src='/Images/Models/Filler/filler-bras-1.jpeg' alt='')
                    .middle-data
                        h2#image-title Cotton Essential Cheeky
                        h2#status Preparing for shipment
                        h2(style='font-size: 12px')
                            | quantity: 
                            span#quantity 3
                    .total-data
                        h2
                            | $
                            span#item-total 37.82