extends base
block append head
    //- script(src='/account/account.js')

block bodyContent
    .profile-container
        .container-tabs
            h2
                a.tabs(href='/account/profile') My Account
            h2
                a.tabs(href='/account/orders') orders &amp; returns
            h2
                a.tabs(href='/account/payment-info') payment info
            h2
                a.tabs.active-tab(href='/account/shipping-info') shipping info
            h2
                a.tabs(href='/account/wishlist') wishlist
            h2
                a.tabs(href='/account/email-preferences') email preferences
            h2
                a.tabs(href='/account/reset-password') password
        .container-user-info(style='width: 70%')
            h2#shipping shippping information
            h2#add-address(style='height: fit-content') Add address