extends base
block  append head
    link(rel="stylesheet", href="style.css")
    script(src='/controllers/shopController.js' type='module')
    script(src='/controllers/cartController.js' type='module')
    script(src='https://code.jquery.com/jquery-3.6.1.js' integrity='sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=' crossorigin='anonymous')
    title=`Noire`
block bodyContent
  .success-order-container
    .basic-order-info
      svg(style='color: rgb(235, 179, 255);' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' zoomandpan='magnify' viewbox='0 0 30 30.000001' height='100' preserveaspectratio='xMidYMid meet' version='1.0')
        defs
          clippath#id1
            path(d='M 2.328125 4.222656 L 27.734375 4.222656 L 27.734375 24.542969 L 2.328125 24.542969 Z M 2.328125 4.222656 ' clip-rule='nonzero' fill='#ebb3ff')
        g(clip-path='url(#id1)')
          path(fill='#ebb3ff' d='M 27.5 7.53125 L 24.464844 4.542969 C 24.15625 4.238281 23.65625 4.238281 23.347656 4.542969 L 11.035156 16.667969 L 6.824219 12.523438 C 6.527344 12.230469 6 12.230469 5.703125 12.523438 L 2.640625 15.539062 C 2.332031 15.84375 2.332031 16.335938 2.640625 16.640625 L 10.445312 24.324219 C 10.59375 24.472656 10.796875 24.554688 11.007812 24.554688 C 11.214844 24.554688 11.417969 24.472656 11.566406 24.324219 L 27.5 8.632812 C 27.648438 8.488281 27.734375 8.289062 27.734375 8.082031 C 27.734375 7.875 27.648438 7.679688 27.5 7.53125 Z M 27.5 7.53125 ' fill-opacity='1' fill-rule='nonzero')

      h1 Thank you for your order.
      h4 your order confirmation email should arrive within the next 5-30 minutes if not already.
      h2.order-number=`your order number is ${orderNumber}`
      a(href="/shop/bra") 
        button.continue-shop-btn continue shopping
    //- .main-info-container
    //-   h4=`date placed: ${order.order_date.date_keys.month+1}/${order.order_date.date_keys.date}/${order.order_date.date_keys.year} `
    .email-sub
      h2 Get updates and never be left out of the know.
      form
        input(type="email", name="email-sub" placeholder='Email')
        button(type="submit" ) Sign Up 

      //- form(action="/marketing/email-subscription-signup", method="post")
        