#footer-holder
    #footer
      .left-side
        .tag-footer
          h3 info
          a(href='/affiliate') affiliate program
          a(href='/guide/sizing') size guide
          a(href='/blogger') fashion blogger
          // use this link as a refference https://us.shein.com/Fashion-Blogger-a-475.html
          a(href='/cookies-about') Cookies
        .tag-footer
          h3 service
          a(href='/privacy-policy') privacy policy 
          a(href='/return-policy') return policy 
          a(href='/contact') contact us
      .right-side
        h1 sign up and stay in the know
        form#sign-up(action='')
          input#sign-up-email(type='email' name='sign-up-email' placeholder='Your Email Address' size='32' required='')
          button(type='submit') Subscribe
    h4(style='color: white') &copy;2022 Noire X LumpkinStudios
