extends base
block append head
    script(src='/controllers/shopController.js' type='module')

block bodyContent
    a(href="/shop/bra-extravagant", target="_self", rel="noopener noreferrer") 
        img.special-banner(src="/Images/specials-banners/bra-special-banner.jpg", alt="", srcset="")
    .shopping-container
        