extends base
//- block prepend head
//-   // hello home scripts
//-   //test two
block bodyContent
  .home-container
    .container-title
      h2 Bringing back comfort to you
      h1 you&apos;ll love it
    // fall banneer
    .banner-container
      a(href='/noire-now/fall-22-drop')
        img.image-banner(src='/Images/Home/Banner Images/banner-fall-22.jpg' alt='')
    // categories banner
    .banner-container
      h1 Shop by category
      .home-categories
        a(href='/products/bra/')
          img(src='/Images/Home/Banner Images/category-bra-card.png' alt='' srcset='')
        a(href='/products/panties/')
          img(src='/Images/Home/Banner Images/category-panties-card.png' alt='' srcset='')
        a(href='/products/lingerie/')
          img(src='/Images/Home/Banner Images/catergory-lingerie-card.png' alt='' srcset='')
    // should i add a promotion video?
    // create a slide that shows reviews
    .banner-container
      h1 why all the rave?
      .carousel.slide(id='carouselExampleSlidesOnly reviews-slides' data-bs-ride='carousel')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='/Images/Home/Banner Images/review-slide-1.png' alt='...')
          .carousel-item
            img.d-block.w-100(src='/Images/Home/Banner Images/review-slide-2.png' alt='...')
          .carousel-item
            img.d-block.w-100(src='/Images/Home/Banner Images/review-slider-3.png' alt='...')
      h2 customer&apos;s love the love
    // hand picked favorites
    // i'll be creating the product cards
    // create footer then take a break and work on a seperate project or continie tutorial
    .banner-container
      h1 Hand picked favorites
      .selected-product-container
        a(href='#')
          .smaller(data-smaller='0')
            img(src='/Images/Home/Selected Images/selected-0.jpg' alt='')
            h2 Azure Misty
            h3 $45
        a(href='#')
          .smaller(data-smaller='1')
            img(src='/Images/Home/Selected Images/selected-1.jpg' alt='')
            h2
              | Spandex Half 
              br
              |                   leggings
            h3 $15
        a(href='#')
          .smaller(data-smaller='2')
            img(src='/Images/Home/Selected Images/selected-2.jpg' alt='')
            h2 Black Cotton Active
            h3 $35
        a(href='#')
          .smaller(data-smaller='3')
            img(src='/Images/Home/Selected Images/selected-3.jpg' alt='')
            h2 Floral Print lace
            h3 $20
  