/* from shop style.css */
@import url('/style.css');
@import url('/account/style.css');
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.hidden {
  display: none;
}
#success-basic {
  color: var(--secondary-color);
  font-size: 18px;
}
.special-banner {
  width: 100%;
}
.top-row-shop {
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}
.top-left {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.crumb-container {
  width: fit-content;
}
.btn-secondary {
  background-color: var(--secondary-color) !important;
}
/* top row product */
.shopping-container {
  width: 100%;
  display: flex;
  /* background-color: green; */
}
.left-filter {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 15%;
  height: 800px;
  padding-left: 12px;
}
.products-container {
  padding-bottom: 5%;
  padding-right: 24px;
  margin-left: 24px;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 12px 12px;
  margin: 0 auto;
  /* margin-right: 36px; */
  /* background-color: green; */
}
.product-item-image {
  width: 280px;
  height: 375px;
}
.product-item-smaller {
  position: relative;
  text-align: left;
}
.product-title-smaller,
.product-price-smaller {
  font-size: 1.2rem;
  padding-top: 12px;
}
.product-price-smaller {
  margin-left: 12px;
}
.item-color {
  border: 2px solid var(--primary-color-lighter);
}
.item-link-text {
  display: flex;
  justify-content: space-between;
}
.product-color-container {
  padding-top: 12px;
  display: grid;
  grid-template-columns: 32px 32px 32px 32px 32px 32px 32px;
  grid-template-rows: auto;
  /* width: 30%;
  display: flex;
  justify-content: space-around;
  float: left; */
}
.product-template {
}
/* wishlist button */
.wishlist-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 16px;
  left: 16px;
}
.breadcrumb-item,
.breadcrumb-item > a {
  font-size: 18px !important;
  color: var(--primary-color) !important;
  text-decoration: none;
}
.breadcrumb-item.active {
  color: var(--secondary-color) !important;
}
.sub-category {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;
  padding-top: 12px;
}
.sub-category:hover,
.sub-category:active {
  color: var(--secondary-color);
}
.current-category {
  font-size: 2rem !important;
  font-weight: 800;
}

.accordion-button {
  font-size: 24px !important;
  text-align: left !important;
  width: fit-content;
  background-color: var(--background-color) !important;
  color: var(--secondary-color) !important;
  position: relative;
  right: 6px;
  /* border: solid 6px black !important; */
}
.accordion-button::after {
  color: var(--secondary-color) !important;
}
.accordion-body {
  display: flex !important;
  flex-direction: column !important;
}
.drop-item {
  font-size: 18px !important;
  text-decoration: none;
  color: var(--primary-color-lighter);
}
.drop-item:hover {
  color: var(--secondary-color);
}
.circle {
  position: relative;
  /* top: 6px !important; */
  width: 24px;
  height: 24px;
  border-radius: 25px;
}
.color-container {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.size {
  padding-top: 12px;
}
.top-right {
  position: absolute;
  top: 8px;
  left: 16px;
}
.filter-link {
  text-decoration: none;
}
.filter-option-btn {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: var(--background-color);
  border: 3px solid var(--primary-color-lighter);
  margin-top: 12px;
  border-radius: 12px;
}
.filter-option-btn > * {
  font-size: 1rem;
  font-weight: 800;
}
/* item page */
.item-container {
  display: flex;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 64px;
  /* height: 800px; */
}
.item-container-left {
  /* background-color: var(--primary-color); */
  width: 60%;
  display: flex;
  max-height: 600px;
  padding-top: 12px;
  /* justify-content: space-between; */
}
.item-container-left-inner-left {
  width: 30%;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 210px auto;
  gap: 12px;
  max-height: 420px;
}
.left-grid-item {
  min-width: 125px;
  max-width: 150px;
}
.selected-left-item {
  border: var(--primary-color) 4px solid;
}
.item-container-left-inner-right {
  width: 65%;
  min-height: 400px;
  max-height: 550px;
}
.item-container-right {
  padding-top: 12px;
  /* max-height: 600px; */
  width: 40%;
}
.item-details {
}
.details-top {
  display: flex;
  justify-content: space-between;
}
.details-wishlist {
  position: relative !important;
  background-color: transparent;
  border: none;
}
.id {
  font-size: 0.7rem;
  margin-left: 6px;
}
.detail-description {
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #ddb9ff06;
  font-size: 1rem;
  border-left: 3px var(--secondary-color) solid;
}
.rating-product {
  margin-right: 4px;
}
/* sale */
.sale-price-container {
  display: flex;
  margin-top: 6px;
  /* justify-content: space-between; */
  /* width: 70%; */
}
.sale-price-container > h4 {
  /* line-height: 2; */

  padding-right: 12px;
  color: var(--primary-color-lighter);
}
.sale-price {
  color: var(--primary-color) !important;
}
.special-text {
  font-size: 1rem;
}
.details-secondary {
  padding-top: 24px;
}
.details-secondary > h2 {
  border-bottom: 3px solid black;
  padding-bottom: 2px;
  font-size: 1.5rem;
}
.details-secondary > h4 {
  font-size: 1rem;
}
/* .details-size-options {
  display: grid;
  grid-template-columns: 32px 32px 32px 32px 32px 32px 32px;
  grid-template-rows: auto;
} */
/* radio buttons */
.details-size-options {
  display: grid;
  grid-template-columns: 64px 64px 64px 64px 64px;
  grid-template-rows: auto;
  gap: 18px;
}
.details-size-options > a {
  font-size: 18px;
}
.add-cart {
  background-color: var(--secondary-color);
  font-size: 1.5rem;
  margin-top: 18px;
  border-radius: 12px;
  width: 100%;
  border: 2px black solid;
}
.add-cart:hover {
  background-color: var(--secondary-color-darker);
}
.details-size-options > a > button {
  color: var(--primary-color);
  text-decoration: none;
  width: 52px;
  height: 52px;
  background-color: #ddb9ffcb;
  border-radius: 50%;
  border: 2px solid black;
}
.size-out-of-stock {
  color: var(--primary-color);
  text-decoration: none;
  width: 52px;
  height: 52px;
  background-color: #ddb9ffcb;
  border: 2px solid black;
  border-radius: 50%;
  cursor: not-allowed;
  pointer-events: all !important;
}
.size-out-of-stock:hover {
  cursor: not-allowed;
  pointer-events: all !important;
}
.strikethrough {
  position: relative;
  color: black;
}
.strikethrough:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  right: 0;
  border-top: 6px solid black;
  border-color: black;

  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

/* quantity form */
#myform {
  margin-top: 24px;
  text-align: center;
  padding: 5px;
  border: 2px solid var(--primary-color);
  /* margin: 2%; */
  display: flex;
  width: fit-content;
  font-size: 24px;
  background-color: var(--secondary-color);
  border-radius: 24px;
}
.qty {
  width: 40px;
  height: fit-content;
  background-color: var(--secondary-color);
  text-align: center;
}
input.qtyplus {
  width: 36px;
  background-color: var(--secondary-color);
  height: 36px;
}
input.qtyminus {
  width: 36px;
  background-color: var(--secondary-color);
  height: 36px;
}
/* .misc-info */
.misc-info {
  margin: 0 auto;
  width: 80%;
}
.review {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: solid black 3px;
  /* border-bottom: solid black 2px; */
}
.review-main {
  width: 60%;
  text-align: end;
}
/* .priceSlider {
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 20px;
  box-shadow: 0px 0px 3px 1px #888;
}
.priceSlider h1 {
  font-size: 17px;
  font-weight: bold;
}
.priceSlider p {
  font-size: 10px;
  margin-top: 20px;
}
.min-max label {
  font-size: 14px;
  float: left;
  margin-right: 5px;
  line-height: 1.6;
}
.min {
  float: left;
}
.max {
  float: right;
}
.min-max {
  width: 90%;
  max-width: 200px;
  margin: 0 auto;
  padding: 25px 0px 15px 0px;
}
.min-max span {
  font-size: 10px;
  text-align: center;
  display: inline-block;
  width: 30px;
  border: 1px solid #dedede;
}
.min-max-range {
  padding: 30px 0px 20px 0px;
}
.range {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 10px;
  max-width: 400px;
  background-color: #dedede;
  margin: 0;
  padding: 0;
  outline: none;
  float: left;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #0070bf;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.range::moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #0070bf;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
} */
/* rating inputs */
.rate {
  float: left;
  height: 46px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 18px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: var(--secondary-color);
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: var(--secondary-color);
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: var(--secondary-color);
}
/* rating static */
